# Mini Project 2

# Statistical Methods

In [21]:
import pandas as pd
df=pd.read_csv('weather_data.csv')
df

   Condition Play        City  Temperature  Humidity        Date
0      Rainy  Yes    Hyderbad           30        60  03-01-2025
1      Sunny  Yes    Hyderbad           35        40  06-01-2025
2   Overcast  Yes    Hyderbad           25        67  14-01-2025
3   Overcast  Yes    Hyderbad           45        58  24-01-2025
4      Sunny   No    Hyderbad           42        48  25-01-2025
5      Rainy  Yes  Vijayawada           30        86  03-02-2025
6      Sunny  Yes  Vijayawada           47        57  07-02-2025
7   Overcast  Yes  Vijayawada           26        74  12-02-2025
8      Rainy   No  Vijayawada           36        36  15-02-2025
9      Sunny   No  Vijayawada           47        95  22-02-2025
10     Sunny  Yes    Banglore           29        65  27-02-2025
11     Rainy   No    Banglore           37        57  03-03-2025
12  Overcast  Yes    Banglore           39        67  25-03-2025
13  Overcast  Yes    Banglore           28        85  29-03-2025

In [22]:
df.info

<bound method DataFrame.info of    Condition Play        City  Temperature  Humidity        Date
0      Rainy  Yes    Hyderbad           30        60  03-01-2025
1      Sunny  Yes    Hyderbad           35        40  06-01-2025
2   Overcast  Yes    Hyderbad           25        67  14-01-2025
3   Overcast  Yes    Hyderbad           45        58  24-01-2025
4      Sunny   No    Hyderbad           42        48  25-01-2025
5      Rainy  Yes  Vijayawada           30        86  03-02-2025
6      Sunny  Yes  Vijayawada           47        57  07-02-2025
7   Overcast  Yes  Vijayawada           26        74  12-02-2025
8      Rainy   No  Vijayawada           36        36  15-02-2025
9      Sunny   No  Vijayawada           47        95  22-02-2025
10     Sunny  Yes    Banglore           29        65  27-02-2025
11     Rainy   No    Banglore           37        57  03-03-2025
12  Overcast  Yes    Banglore           39        67  25-03-2025
13  Overcast  Yes    Banglore           28        85  29-03-2025>

In [23]:
df.Date

0     03-01-2025
1     06-01-2025
2     14-01-2025
3     24-01-2025
4     25-01-2025
5     03-02-2025
6     07-02-2025
7     12-02-2025
8     15-02-2025
9     22-02-2025
10    27-02-2025
11    03-03-2025
12    25-03-2025
13    29-03-2025
Name: Date, dtype: object

In [24]:
df.isnull()

    Condition   Play   City  Temperature  Humidity   Date
0       False  False  False        False     False  False
1       False  False  False        False     False  False
2       False  False  False        False     False  False
3       False  False  False        False     False  False
4       False  False  False        False     False  False
5       False  False  False        False     False  False
6       False  False  False        False     False  False
7       False  False  False        False     False  False
8       False  False  False        False     False  False
9       False  False  False        False     False  False
10      False  False  False        False     False  False
11      False  False  False        False     False  False
12      False  False  False        False     False  False
13      False  False  False        False     False  False

In [25]:
df['Temperature'].max()

47

In [26]:
df['Temperature'].min()

25

In [27]:
df['Temperature'].mean()

np.float64(35.42857142857143)

In [28]:
df['Temperature'].describe()

count    14.000000
mean     35.428571
std       7.703289
min      25.000000
25%      29.250000
50%      35.500000
75%      41.250000
max      47.000000
Name: Temperature, dtype: float64

In [45]:
df['Humidity'].median()

62.5

In [46]:
df['Humidity'].std()

17.03148345187314

In [47]:
df['Humidity'].var()

290.07142857142856

In [48]:
df['Humidity'].describe()

count    14.000000
mean     63.928571
std      17.031483
min      36.000000
25%      57.000000
50%      62.500000
75%      72.250000
max      95.000000
Name: Humidity, dtype: float64

In [49]:
df['Humidity'].sum()

np.int64(895)

In [44]:
df.count()

np.int64(14)

In [29]:
df[df.Temperature==df.Temperature.max()]

  Condition Play        City  Temperature  Humidity        Date
6     Sunny  Yes  Vijayawada           47        57  07-02-2025
9     Sunny   No  Vijayawada           47        95  22-02-2025

In [30]:
df.City[df.Temperature==df.Temperature.max()]

6    Vijayawada
9    Vijayawada
Name: City, dtype: object